<div class="container">
  <app-header title="Hallgató hozzáadása" buttonClass="btn-secondary" buttonTitle="Vissza"
              buttonLink="/students"></app-header>
  <div class="mb-3">
    <label for="formControl-name" class="form-label">Név</label>
    <input type="text" class="form-control" id="formControl-name" [(ngModel)]="s.name" [ngClass]="{'is-invalid': !validName}">
    <div class="invalid-feedback">A név kitöltése kötelező!</div>
  </div>
  <div class="mb-3">
    <label for="formControl-email" class="form-label">E-mail cím </label>
    <input type="email" class="form-control" id="formControl-email" [(ngModel)]="s.email" [ngClass]="{'is-invalid': !validEmail}">
    <div class="invalid-feedback">Valós e-mail címet adj meg!</div>
  </div>
  <div class="mb-3">
    <label for="formControl-birth-year" class="form-label">Életkor</label>
    <input type="text" class="form-control" id="formControl-birth-year" [(ngModel)]="s.age" [ngClass]="{'is-invalid': !validAge}" >
    <div class="invalid-feedback">Nem jó életkor</div>
  </div>
  <label for="genderFormControlInput1" class="form-label">Nem</label>
  <select class="form-control" aria-label="Default select example" id="genderFormControlInput1" [(ngModel)]="s.gender">
    <option value="FEMALE" selected>Nő</option>
    <option value="MALE ">Férfi</option>
  </select>
  <button type="submit" class="btn btn-success mt-3" id="addNewStudent" (click)="saveStudent()">Hozzáadás</button>
</div>
